@font-face {
  font-family: 'whoopass';
  src: url('./assets/WHOOPASS.TTF') format('truetype');
}

body {
  margin: 0;
}

#gameWindow {
  font-family: 'whoopass';
  color: #fff;
}

canvas {
  display: block;
  margin: auto;
}

@media (max-height: 640) {
  #gameWindow {
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
  }
}
