@font-face {
  font-family: 'whoopass';
  src: url('./assets/fonts/WHOOPASS.TTF') format('truetype');
}

body {
  margin: 0;
  background-color: #282e42;
  font-family: sans-serif;
  color: #fff;
}

h1 {
  font-family: 'whoopass';
  font-size: 48px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

a {
  color: #a8dcf5;
  text-decoration: none;
}

a:hover {
  color: #71c3eb;
}

.explainer {
  margin: 16px auto;
  padding: 1em;
  max-width: 650px;
  display: block;
}

#gameWindow {
  font-family: 'whoopass';
  color: #fff;
  margin: 24px auto;
}

canvas {
  display: block;
  margin: auto;
  border: 1px solid #a9a9b5;
}

@media (max-height: 640px) {
  #gameWindow {
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
  }

  canvas {
    border: none;
  }
}

/* desktop */
@media (hover: hover) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

/* touchscreen */
@media (hover: none) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}
