@font-face {
  font-family: 'whoopass';
  src: url('./assets/WHOOPASS.TTF') format('truetype');
}

#gameWindow {
  font-family: 'whoopass';
  color: #fff;
}

canvas {
  display: block;
  margin: auto;
}
